

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');
body {
background-color: #f4f4f4;
font-family: "Roboto", sans-serif;
}

img {
    display: block;
width: 300px;
height: 300px;
border-radius: 50%;
object-fit: cover;
margin: 20px auto;
}

h3 {
    font-family: "Russo One", sans-serif;
    text-align: center;
}
#logo {
    font-size: 32px; color: #4084ea;
}
#iam {
    color: #a9a9a9;
}
ul {
    
    list-style: none;
    text-align: center;
    padding: 0;
}

table {
    border: 1px solid #a9a9a9;
    background-color: #fae694;
    width: 300px;
    margin: 20px auto;
}
td {
    text-align: center;
}
#Figma {
    color: #ea40ea;
}
#HTML {
    color: #620f62;
}
p{
    text-align: center;
}
a {
    display: block;
    width 200px;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

hr {
    width: 200px;
    height: 10px;
    background-color: #4084ea;
    border-radius: 7px;
}